extend layout

block content
    if food
        h1 #{food.name}
        h2 #{food.country}
        h2 #{food.type}
    else
        h1 There is no such food!
    script.
        console.log(!{JSON.stringify(food)})
