html
  head
    title Food Sharing
    script(src="https://unpkg.com/axios@0.17.0/dist/axios.min.js")
    style body {font-family: -apple-system, sans-serif;}

    script.
        console.log('Hi')

  body 
    block content      
